doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width' initial-scale=1.0)
        <meta name="theme-color" content="#6b6b67">
        <script src="https://kit.fontawesome.com/b391407817.js" crossorigin="anonymous"></script>
        link( href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')

        link(rel='stylesheet' href='/css/style.css')
        block links

        title Apna Bazar
    body
        header
            nav.navbar
                a.brand-title(href="/") Apna Bazar
                .navbar-links
                    ul
                        if user
                            if user.role==='seller'
                                li 
                                    a(href='/myshop') My Shop
                                li
                                    a(href='/products/new') add product
                            else        
                                li 
                                    a(href='/shops') Near By Shop        
                            li
                                a(href='/orders') orders
                            li
                                a#logoutOption(href='#') logout
                        else
                            li 
                                a(href='/shops') Near By Shop
                            li
                                a(href='/login') login 
                            li
                                a(href='signup') signup



            a.toggle-button(href="#") 
                span.bar
                span.bar
                span.bar

        block content

        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(src='/js/home.js')

        block scripts