doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width' initial-scale=1.0)
        link(rel="stylesheet", href="/css/style.css")
        title Apna Bazar
    body

        nav.navbar
            .brand-title Apna Bazar
            .navbar-links
                ul
                    li
                        a(href='#') login
                    li
                        a(href='#') signup
                    
            a.toggle-button(href="#") 
                span.bar
                span.bar
                span.bar

        block content