doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width' initial-scale=1.0)

        block links
        
        title Apna Bazar
    body

        nav.navbar
            .brand-title Apna Bazar
            .navbar-links
                ul
                    li
                        a(href='/login') login
                    li
                        a(href='signup') signup
                    
            a.toggle-button(href="#") 
                span.bar
                span.bar
                span.bar

        block content

        script(src="/js/home.js")