extends base

block links
    link(rel='stylesheet', href='/css/login.css')


block content
    main
        form.container
            .heading Login
            hr
            input(type='email' placeholder='Email' required)
            input(type='password' placeholder='Password' required)
            input(type='submit', value='Login')

block scripts
    script(src='/js/login.js')