extends base

block links
    link(rel='stylesheet' href='/css/signup.css')

block content
    main
        form.container
            .heading Sign Up
            hr
            input#name(type='text' placeholder='Name' required)
            input#email(type='email' placeholder='Email' required)
            input#password(type='password' placeholder='Password' required minlength='8')
            input#password-confirm(type='password' placeholder='Confirm Password' required minlength='8')
            .role
                input#role(type='checkbox')
                label.text Do you want to sell?
            input(type='submit' value='Signup')

    script(src='/js/signup.js')