extends base

block links
    link(rel='stylesheet' href='/css/signup.css')

block content
    main
        form.container
            input#name(type='text' placeholder='enter name' required)
            input#email(type='email' placeholder='enter email' required)
            input#password(type='password' placeholder='enter password' required minlength='8')
            input#password-confirm(type='password' placeholder='confirm password' required minlength='8')
            .role
                input#role(type='checkbox')
                label Do you want to sell?
            input(type='submit' value='Signup')

    script(src='/js/signup.js')