#title-wrapper {
    text-align: center;
}
.title {
    padding: 1rem;
    display: inline-block;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #414345,
        #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #414345,
        #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    text-align: center;
    border-radius: 1rem;
}
.price {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}
.container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 2rem;
}
.item {
    border: 2px double rgb(211, 210, 210);
    padding: 1rem;
    position: relative;
}
.item,
img {
    width: 100%;
    border-radius: 1rem;
}
.status {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background: #757f9a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #d7dde8,
        #757f9a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #d7dde8,
        #757f9a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    border-radius: 50%;
    padding: 1rem;
    transform: rotate(-25deg);
}
.detail {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.detail,
.detail + div {
    font-size: 1.2rem;
}
.detail > * {
    align-self: center;
    color: white;
}
.detail > a {
    text-decoration: none;
    color: white;
    padding: 0.1rem 0.3rem;
    background: #757f9a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom right,
        #d7dde8,
        #757f9a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom right,
        #d7dde8,
        #757f9a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15%;
}

@media only screen and (max-width: 50rem) {
    .container {
        grid-template-columns: repeat(2, 40%);
    }
}
@media only screen and (max-width: 40rem) {
    .container {
        grid-template-columns: repeat(1, 80%);
    }
}
