.item,
.extra-details {
    width: 70vh;
    max-width: 80vw;
    text-transform: capitalize;
}
.extra-details {
    margin: 4rem auto 1rem;
    /* font-size: 1.2rem; */
}
.status {
    font-weight: bold;
}
.item {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
}

img {
    width: 100%;
    border-radius: 1rem;
}
.sub-detail-1,
.sub-detail-2 {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-detail-2 {
    margin-top: 5px;
}

#cancel-button {
    background-color: rgb(253, 65, 8);
}
#remove-button {
    background-color: orange;
}
#confirm-button {
    background-color: rgb(12, 146, 12);
}
#deliver-button {
    background-color: rgb(13, 128, 163);
}

button {
    border-radius: 0.25rem;
    margin: 2px auto;
    padding: 0.6rem 0.8rem;
    border: none;
    color: white;
}
button:hover {
    opacity: 0.8;
}
