#title-wrapper {
    text-align: center;
}
.title {
    padding: 1rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.container {
    width: 100%;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.2rem;
}
.item {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.item:hover {
    transform: scale(1.01);
}
.product-name {
    justify-self: start;
}

img {
    padding: 5px;
    justify-self: center;
    width: 70%;
    justify-self: center;
}

.button-more {
    font-size: 1rem;
    text-align: center;
    background-color: rgb(102, 100, 100);
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 0.25rem;
}
.button-more:hover {
    opacity: 0.8;
}
.status {
    margin: 0 auto;
}
@media (max-width: 500px) {
    .button-more,
    .price {
        display: none;
    }
    .item {
        grid-template-columns: repeat(3, 1fr);
    }
    img {
        width: 100%;
    }
}
