main {
    padding: 1rem 0;
    text-align: center;
}
.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.container > img {
    border-radius: 1rem;
    width: 50vh;
    max-width: 80vw;
}
.details {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details > div {
    font-weight: bold;
    margin-top: 10px;
}

#submit {
    margin-top: 0.5rem;
    background-color: rgb(102, 100, 100);
    border-style: none;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
}
#submit:hover {
    opacity: 0.8;
}
