extends ../base

block links
    link(rel='stylesheet', href='/css/addShop.css')

block content
    main
        form.container
            div.form1  
                input#name.form1__input(type ='text' placeholder ='name' name='name' required)
                label.form1__label(for="name") Name : 
            div.form1  
                input#address.form1__input(type ='text' placeholder ='address' name='address' required)
                label.form1__label(for="address") Address : 
            div.form1  
                input#longitude.form1__input(type ='text' placeholder ='longitude' name='longitude' required)
                label.form1__label(for="longitude") Longitude : 
            div.form1  
                input#latitude.form1__input(type ='text' placeholder ='latitude' name='latitude' required)
                label.form1__label(for="latitude") Latitude : 
            div.form1  
                input#image.form1__input(type ='text' placeholder='image' name='image' required)
                label.form1__label(for="image") Shop Image : 
          
            input.button(type='submit', value='Submit')                    
    script(src='/js/addShop.js')