extends ../base

block links
    link(rel='stylesheet' href='/css/allProductsOfAShop.css')


block content
    .container
        each product in products
            form.item(action=`/${product._id}` method='GET')
                .grid
                    article 
                        img.image-resize(src=`${product.image}`, alt='')
                        .text
                            h3
                                .item-name= `${product.name}`
                            .item-price ₹#{product.price}
                        button.button-more More    
                            

