extends ../base

block links
    link(rel='stylesheet' href='/css/home.css')


block content
    form#searchBarForm.wrapper(action='/' method='GET')
        input(type="text",class="input" ,placeholder = "what are you looking for?" name="wordInName")
        input(type="submit",class="search-btn"  value="search") 
    .container
        each product in products
            form.item(action=`/${product._id}` method='GET')
                img(src=`${product.image}`, alt='')
                .details
                    .item-name= `${product.name}`
                    .item-price ₹#{product.price}
                button.button-more More


