extends ../base

block links
    link(rel='stylesheet' href='/css/product.css')

block content
    main
        .container
            img(src=product.image)
            .details
                div= product.name
                a#submit(href=`/${product._id}/address`)= `₹${product.price} Buy`
