extends ../base

block links
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.container(data-id=product._id)
            img(src=product.image)
            .details
                h2= product.name
                input#submit(type="submit", value=`₹${product.price} Buy`)